
#myDivs {
    justify-content: center;
    width: 100%;
    background: gray;
    display: flex;
    flex-wrap: wrap
    
}

#topLeft {
    width: 150px;
    height: 150px;
    background: blue;
    margin: 25px;
    animation-duration: infinite;
}

#topRight {
    width: 150px;
    height: 150px;
    background: red;
    margin: 25px;
   animation-duration: infinite;
    
}

#bottomLeft {
    width: 150px;
    height: 150px;
    background: yellow;
    margin: 25px;
    animation-duration: infinite;
}

#bottomRight {
    width: 150px;
    height: 150px;
    background: green;
    margin: 25px;
    animation-duration: infinite;
}

@keyframes wiggle {
    
    0% {transform: scale(0,0)}
    
    25% {transform: scale(1,1);
        transform: rotate(5deg)}
    
    50% {transform: scale(1,1);
        transform: rotate(-5deg)}
    
    75% {transform: scale(1,1);
        transform: rotate(5deg)}
    
    100% {transform: scale(0,0)}
    
}
