/* CSS StyleSheet */



.div1 {
    background: blue;
    width: 150px;
    height: 150px;
    border: 2px solid;
    
}

.theDiv {
    background: green;
    width: 150px;
    height: 150px;
    border: 2px solid;
    transition: transform 5s;
}