/* animation-CSS */

body {
    position: relative;
    height: 200px;
    border-bottom: solid 2px hsl(340, 5%, 75%);
  }

.green {
    width: 100px;
    height: 100px;
    background: green;
    transition: width 2s, height 4s;
}

.red {
    width: 100px;
    height: 100px;
    background: red;
    transition: transform 2s;

     
}

@keyframes nasty2Ani {
    
    0% {
    
    width: 100px;
    height: 100px; 
  }
  
  25% {
    width: 150px;
    height: 150px;
    
  }
  
  100% {
    width: 50px;
    height: 50px;
    
  }
}

@keyframes bouncing {
  
  0% {
    
    width: 2.1em;
    height: 0.9em; 
  }
  
  25% {
    width: 2em;
    height: 2em;
    bottom: 0;
  }
  
  100% {
    width: 1.9em;
    height: 1.1em;
    bottom: 50px;
  }
}



.target-bouncing {
  
  animation: 1s ease-out alternate infinite;
}



.target {
    
    height: 1em;
    width: 1em;
    border-radius: 100%;
    
    background: blue;
    
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -0.5em;
  }

@keyframes smacking {
  
  0% {
    
    width: 3em;
    height: 2em;
    bottom: 75px;
  }
  
  25% {
    width: 3em;
    height: 1.75em;
    
  }
  
  100% {
    width: 3em;
    height: 1.5em;
    bottom: 65px;
  }
}

.hand {
    
    height: 1em;
    width: 2em;
  
    
    background: green;
    
    position: absolute;
    bottom: 50;
    left: 50%;
    margin-left: -0.5em;
  }

.hand-smacking {
  
  animation: 1s ease-out alternate infinite;
}
.nasty {
    background: orange;
    width: 100px;
    height: 100px;
}

.nasty2 {
    
    height: 100px;
    width: 100px;
    background: green;
    position: absolute;
    animation: -1s ease-out alternate infinite;
}
